html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-size: 10pt;
    overflow: hidden;
    background-color: #111; /* 设置深黑色背景 */
    color: #fff; /* 设置默认字体颜色为白色 */
}

#context-menu {
    display: none;
    position: absolute;
    background-color: #222; /* 设置深灰色背景 */
    border: 1px solid #333; /* 边框颜色调整 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
    min-width: 100px;
}

.menu-item {
    cursor: default;
    padding: 8px 12px;
    border-bottom: 1px solid #333; /* 边框颜色调整 */
    outline: none;
    user-select: none;
    transition: background-color 0.3s;
    color: #fff;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item:hover {
    background-color: #444; /* 鼠标悬停时的柔和背景色 */
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: #333; /* 设置深灰色背景 */
    border: 1px solid #444; /* 边框颜色调整 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
    min-width: 60px;
    top: 44px;
    left: 100%;
    list-style: none;
    max-height: 228px; /* 设置最大高度 */
    overflow-y: auto; /* 设置垂直滚动条 */
}

.sub-menu li {
    padding: 8px;
    border-bottom: 1px solid #444; /* 边框颜色调整 */
    cursor: pointer;
}

.sub-menu-item li:last-child {
    border-bottom: none;
}

.sub-menu-item:hover {
    background-color: #555; /* 鼠标悬停时的柔和背景色 */
}


/* 设置 select 样式 */
select {
  color: #ffffff;
  background-color: #ffffffea;
}

/* 设置 button 样式 */
button {
  color: #ffffff;
  background-color: #61e7f0;
  border: 1px solid #007bff;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(129, 246, 28);
}
